/* Global.css */

* {
  box-sizing: border-box;
}

body {
  background-color: #121212; /* Ensure the entire page is dark */
  margin: 0;
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  padding: 20px;
}
